body {
  background-image: url("../img/background.jpg");
}

h1 {
  color: rgb(255, 0, 0);
  font-size: 400%;
  font-weight: 900;
  font-family: cursive;
  margin-left: 5%;
  margin-top: 3%;
}

hr {
  margin-right: 5%;
  margin-left: 5%;
  color: black;
}

.intro {
  color: blueviolet;
  font-size: 125%;
  font-family: "Times New Roman", Times, serif;
  margin-left: 5%;
}

.intro::first-letter {
  color: slateblue;
  font-family: cursive;
  font-weight: bold;
  font-size: 150%;
}

.courses {
  margin-left: 5.5%;
  font-size: 125%;
  font-weight: bold;
}

.course {
  font-weight: normal;
  margin-left: 6%;
  font-size: 100%;
  line-height: 200%;
}

.m {
  margin-left: 5.5%;
  font-size: 125%;
  font-weight: bold;
}
.movies {
  margin-left: 3%;
  font-size: 125%;
  font-weight: bold;
  display: flex;
  flex-direction: column-reverse;
}

.movie {
  font-weight: normal;
  margin-left: 3%;
  font-size: 100%;
  line-height: 200%;
}

.vibes {
  margin-left: 5.5%;
  font-size: 125%;
  font-weight: bold;
}

div.vibe img {
  width: 100%;
  height: auto;
}

div.word {
  text-align: center;
  font-size: 125%;
  font-weight: bold;
  color: red;
}

.responsive {
  padding: 0 6px;
  float: left;
  width: 25%;
  margin-left: 8%;
}
.neighbors {
  padding-top: 32%;
  margin-left: 5.5%;
  font-size: 125%;
  font-weight: bold;
}

.neighbor {
  font-weight: normal;
  margin-left: 6%;
  font-size: 100%;
  line-height: 200%;
}

.link img {
  margin-left: 3%;
}

dl {
  margin-top: -5px;
}

.movie a:hover {
  background-color: yellow;
}

.movie a {
  text-decoration: none;
}
