#a, #b {
  width: 100px;
  height: 100px;
  font: 30pt bold Helvetica, Arial, sans-serif;
  line-height: 100px;
  text-align: center;
}
#a { background-color: lightblue; 
  float: left;
}
#b { background-color: pink;
  float: right;
  clear: left;
}
#c { 
  text-align: right;
  width: 100px;
  margin-left: auto;
  margin-right: auto;
  background-color: lightgray; 
  text-align: right;
}